# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
alembic=1.4.1=pypi_0
altair=4.1.0=pypi_0
argon2-cffi=20.1.0=pypi_0
astor=0.8.1=pypi_0
async-generator=1.10=pypi_0
atomicwrites=1.4.0=pypi_0
attrs=20.3.0=pypi_0
autograd=1.3=pypi_0
autograd-gamma=0.5.0=pypi_0
azure-core=1.9.0=pypi_0
azure-storage-blob=12.6.0=pypi_0
backcall=0.2.0=pypi_0
base58=2.0.1=pypi_0
blas=1.0=mkl
bleach=3.2.1=pypi_0
blinker=1.4=pypi_0
blis=0.7.4=pypi_0
boost=1.74.0=py38h1266d08_2
boost-cpp=1.74.0=h54f0996_1
bzip2=1.0.8=h8ffe710_4
ca-certificates=2020.6.20=hecda079_0
cachetools=4.2.0=pypi_0
cairo=1.16.0=hba8bd2f_1007
catalogue=1.0.0=pypi_0
catboost=0.24.3=pypi_0
certifi=2020.6.20=py38h32f6830_0
cffi=1.14.4=pypi_0
chardet=4.0.0=pypi_0
click=7.1.2=pypi_0
cloudpickle=1.6.0=pypi_0
colorama=0.4.4=pypi_0
colorlover=0.3.0=pypi_0
combo=0.1.2=pypi_0
confuse=1.4.0=pypi_0
cryptography=3.3.1=pypi_0
cufflinks=0.17.3=pypi_0
cycler=0.10.0=py_2
cymem=2.0.5=pypi_0
cython=0.29.14=pypi_0
databricks-cli=0.14.1=pypi_0
decorator=4.4.2=pypi_0
deeppurpose=0.0.7=pypi_0
defusedxml=0.6.0=pypi_0
descriptastorus=2.2.0=py_0
docker=4.4.1=pypi_0
entrypoints=0.3=pypi_0
flask=1.1.2=pypi_0
freetype=2.10.4=h546665d_0
funcy=1.15=pypi_0
future=0.18.2=pypi_0
gensim=3.8.3=pypi_0
gettext=0.19.8.1=h1a89ca6_1005
gitdb=4.0.5=pypi_0
gitpython=3.1.11=pypi_0
htmlmin=0.1.12=pypi_0
icc_rt=2019.0.0=h0cc432a_1
icu=68.1=h0e60522_0
idna=2.10=pypi_0
imagehash=4.2.0=pypi_0
imbalanced-learn=0.7.0=pypi_0
iniconfig=1.1.1=pypi_0
intel-openmp=2020.3=h57928b3_311
ipykernel=5.4.2=pypi_0
ipython=7.19.0=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.5.1=pypi_0
isodate=0.6.0=pypi_0
itsdangerous=1.1.0=pypi_0
jedi=0.17.2=pypi_0
jinja2=2.11.2=pypi_0
joblib=1.0.0=pyhd3eb1b0_0
jpeg=9d=h8ffe710_0
jsonschema=3.2.0=pypi_0
jupyter-client=6.1.7=pypi_0
jupyter-core=4.7.0=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
kiwisolver=1.3.1=py38hbd9d945_0
kmodes=0.10.2=pypi_0
libblas=3.8.0=21_mkl
libcblas=3.8.0=21_mkl
libffi=3.3=h0e60522_2
libglib=2.66.4=h5320221_1
libiconv=1.16=he774522_0
liblapack=3.8.0=21_mkl
libpng=1.6.37=h1d00b33_2
libtiff=4.2.0=hc10be44_0
lifelines=0.25.7=pypi_0
lightgbm=3.1.1=pypi_0
llvmlite=0.35.0=pypi_0
lz4-c=1.9.2=h62dcd97_2
mako=1.1.3=pypi_0
markupsafe=1.1.1=pypi_0
matplotlib-base=3.3.3=py38h34ddff4_0
missingno=0.4.2=pypi_0
mistune=0.8.4=pypi_0
mkl=2020.4=hb70f87d_311
mkl-service=2.3.0=py38h196d8e1_0
mlflow=1.12.1=pypi_0
mlxtend=0.18.0=pypi_0
msrest=0.6.19=pypi_0
murmurhash=1.0.5=pypi_0
nbclient=0.5.1=pypi_0
nbconvert=6.0.7=pypi_0
nbformat=5.0.8=pypi_0
nest-asyncio=1.4.3=pypi_0
networkx=2.5=pypi_0
nltk=3.5=pypi_0
notebook=6.1.6=pypi_0
numba=0.52.0=pypi_0
numexpr=2.7.1=pypi_0
numpy=1.19.4=py38h0cc643e_1
oauthlib=3.1.0=pypi_0
olefile=0.46=pyh9f0ad1d_1
openssl=1.1.1g=he774522_0
packaging=20.8=pypi_0
pandas=1.1.5=py38h4c96930_0
pandas-flavor=0.2.0=pypi_0
pandas-profiling=2.9.0=pypi_0
pandocfilters=1.4.3=pypi_0
parso=0.7.1=pypi_0
patsy=0.5.1=pypi_0
pcre=8.44=ha925a31_0
phik=0.10.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.0.1=py38hd8d9125_0
pip=20.3.3=py38haa95532_0
pixman=0.40.0=h8ffe710_0
plac=1.1.3=pypi_0
plotly=4.14.1=pypi_0
pluggy=0.13.1=pypi_0
preshed=3.0.5=pypi_0
prettytable=2.0.0=pypi_0
prometheus-client=0.9.0=pypi_0
prometheus-flask-exporter=0.18.1=pypi_0
prompt-toolkit=3.0.8=pypi_0
protobuf=3.14.0=pypi_0
py=1.10.0=pypi_0
pyarrow=2.0.0=pypi_0
pycairo=1.20.0=py38h7e31434_1
pycaret=2.2.3=pypi_0
pycparser=2.20=pypi_0
pydeck=0.5.0=pypi_0
pygments=2.7.3=pypi_0
pyldavis=2.1.2=pypi_0
pyod=0.8.5=pypi_0
pyparsing=2.4.7=pyh9f0ad1d_0
pyrsistent=0.17.3=pypi_0
pytest=6.2.1=pypi_0
python=3.8.5=h5fd99cc_1
python-dateutil=2.8.1=py_0
python-editor=1.0.4=pypi_0
python-graphviz=0.16=pypi_0
python_abi=3.8=1_cp38
pytz=2020.4=pyhd8ed1ab_0
pywavelets=1.1.1=pypi_0
pywin32=227=pypi_0
pywinpty=0.5.7=pypi_0
pyyaml=5.3.1=pypi_0
pyzmq=20.0.0=pypi_0
querystring-parser=1.2.4=pypi_0
rdkit=2020.09.3=py38h73aae1f_0
regex=2020.11.13=pypi_0
reportlab=3.5.56=py38hc3ca807_0
requests=2.25.1=pypi_0
requests-oauthlib=1.3.0=pypi_0
retrying=1.3.3=pypi_0
scikit-learn=0.23.2=py38h47e9c7a_0
scikit-plot=0.3.7=pypi_0
scipy=1.5.4=pypi_0
seaborn=0.11.1=pypi_0
send2trash=1.5.0=pypi_0
setuptools=51.0.0=py38haa95532_2
six=1.15.0=pyh9f0ad1d_0
smart-open=4.0.1=pypi_0
smmap=3.0.4=pypi_0
spacy=2.3.5=pypi_0
sqlalchemy=1.3.22=py38h294d835_0
sqlite=3.33.0=h2a8f88b_0
sqlparse=0.4.1=pypi_0
srsly=1.0.5=pypi_0
statsmodels=0.12.1=pypi_0
streamlit=0.73.1=pypi_0
subword-nmt=0.3.7=pypi_0
suod=0.0.4=pypi_0
tabulate=0.8.7=pypi_0
tangled-up-in-unicode=0.0.6=pypi_0
terminado=0.9.1=pypi_0
testpath=0.4.4=pypi_0
textblob=0.15.3=pypi_0
thinc=7.4.5=pypi_0
threadpoolctl=2.1.0=pyh5ca1d4c_0
tk=8.6.10=h8ffe710_1
toml=0.10.2=pypi_0
toolz=0.11.1=pypi_0
torch=1.7.1=pypi_0
tornado=6.1=py38h294d835_0
tqdm=4.54.1=pypi_0
traitlets=5.0.5=pypi_0
typing-extensions=3.7.4.3=pypi_0
tzlocal=2.1=pypi_0
umap-learn=0.4.6=pypi_0
urllib3=1.26.2=pypi_0
validators=0.18.2=pypi_0
vc=14.2=h21ff451_1
visions=0.5.0=pypi_0
vs2015_runtime=14.27.29016=h5e58377_2
waitress=1.4.4=pypi_0
wasabi=0.8.0=pypi_0
watchdog=1.0.2=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=0.57.0=pypi_0
werkzeug=1.0.1=pypi_0
wget=3.2=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
widgetsnbextension=3.5.1=pypi_0
wincertstore=0.2=py38_0
wordcloud=1.8.1=pypi_0
xarray=0.16.2=pypi_0
xgboost=1.3.1=pypi_0
xz=5.2.5=h62dcd97_1
yellowbrick=1.2=pypi_0
zlib=1.2.11=h62dcd97_4
zstd=1.4.5=h1f3a1b7_2
